<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Workout</title>
  
     <link rel="stylesheet" href="{% static 'css/style1.css' %}">
</head>
<body>
    <header>
        <h1>HOME WORKOUT</h1>
        <nav>
            <ul>
                <li><a href="#Beginner" class="active">Beginner</a></li>
                <li><a href="#Intermediate">Intermediate</a></li>
                <li><a href="#Advanced">Advanced</a></li>
            </ul>
        </nav>
    </header>

    <section class="workout-list" id="Beginner">
        <!-- <div class="workout-item" style="background-image: url({% static 'images/chestbeg.jpg' %});" 
     onclick="window.location.href='{% url 'workout' 'chestbegnier' %}'">
    <div class="overlay"></div>
    <h2>CHEST BEGINNER</h2>
    <p>11 MINS • 11 EXERCISES</p>
</div>

<div class="workout-item" style="background-image: url({% static 'images/goku2.jpg' %});" 
     onclick="window.location.href='{% url 'workout' 'legs' %}'">
    <div class="overlay"></div>
    <h2>LEG BEGINNER</h2>
    <p>11 MINS • 11 EXERCISES</p>
</div> -->



<!-- <div class="workout-item" style="background-image: url({% static 'images/chestbeg.jpg' %});" 
     onclick="window.location.href='{% url 'workout' 'Chest Beginner' %}'">
    <div class="overlay"></div>
    <h2>CHEST BEGINNER</h2>
    <p>11 MINS • 11 EXERCISES</p>
</div>

<div class="workout-item" style="background-image: url({% static 'images/goku2.jpg' %});" 
     onclick="window.location.href='{% url 'workout' 'Legs Beginner' %}'">
    <div class="overlay"></div>
    <h2>LEG BEGINNER</h2>
    <p>11 MINS • 11 EXERCISES</p>
</div> -->


<div class="workout-item" style="background-image: url({% static 'images/chestbeg.jpg' %});" 
     onclick="window.location.href='{% url 'workout' 'Chest Beginner' %}'">
    <div class="overlay"></div>
    <h2>CHEST BEGINNER</h2>
    <p>11 MINS • 11 EXERCISES</p>
</div>

<div class="workout-item" style="background-image: url({% static 'images/legs.jpg' %});" 
     onclick="window.location.href='{% url 'workout' 'Legs Beginner' %}'">
    <div class="overlay"></div>
    <h2>LEG BEGINNER</h2>
    <p>11 MINS • 11 EXERCISES</p>
</div>



<div class="workout-item" style="background-image: url({% static 'images/goku2.jpg' %});" 
onclick="window.location.href='{% url 'workout' 'AB' %}'">
<div class="overlay"></div>
<h2>ABS BEGINNER</h2>
<p>11 MINS • 11 EXERCISES</p>
</div>

        <div class="workout-item" style="background-image: url({% static 'images/chestbeg.jpg' %});" onclick="window.location.href='chest-beginner.html'">
            <div class="overlay"></div>
            <h2>ARM BEGINNER</h2>
            <p>11 MINS • 11 EXERCISES</p>
        </div>

       

        <!-- Add more workout items similar to the one above -->
    </section>


    <section class="workout-list" id="Intermediate">
        <div class="workout-item" style="background-image: url({% static 'images/chestbeg.jpg' %});" onclick="window.location.href='chestbegnier'">
            <div class="overlay"></div>
            <h2>CHEST Intermediate</h2>
            <p>11 MINS • 11 EXERCISES</p>
        </div>

        <div class="workout-item" style="background-image: url({% static 'images/chestbeg.jpg' %});" onclick="window.location.href='chestbegnier'">
            <div class="overlay"></div>
            <h2>LEG Intermediate</h2>
            <p>11 MINS • 11 EXERCISES</p>
        </div>

        <div class="workout-item" style="background-image: url({% static 'images/chestbeg.jpg' %});" onclick="window.location.href='chest-beginner.html'">
            <div class="overlay"></div>
            <h2>ARM Intermediate</h2>
            <p>11 MINS • 11 EXERCISES</p>
        </div>

        <div class="workout-item" style="background-image: url({% static 'images/chestbeg.jpg' %});" onclick="window.location.href='chest-beginner.html'">
            <div class="overlay"></div>
            <h2>ABS Intermediate</h2>
            <p>11 MINS • 11 EXERCISES</p>
        </div>


        <!-- Add more workout items similar to the one above -->
    </section>

    <section class="workout-list" id="Advanced">
        <div class="workout-item" style="background-image: url({% static 'images/chestbeg.jpg' %});" onclick="window.location.href='chestbegnier'">
            <div class="overlay"></div>
            <h2>CHEST Advanced</h2>
            <p>11 MINS • 11 EXERCISES</p>
        </div>

        <div class="workout-item" style="background-image: url({% static 'images/chestbeg.jpg' %});" onclick="window.location.href='chest-beginner.html'">
            <div class="overlay"></div>
            <h2>LEG Advanced</h2>
            <p>11 MINS • 11 EXERCISES</p>
        </div>

        <div class="workout-item" style="background-image: url({% static 'images/chestbeg.jpg' %});" onclick="window.location.href='chest-beginner.html'">
            <div class="overlay"></div>
            <h2>ARM Advanced</h2>
            <p>11 MINS • 11 EXERCISES</p>
        </div>

        <div class="workout-item" style="background-image: url({% static 'images/chestbeg.jpg' %});" onclick="window.location.href='chest-beginner.html'">
            <div class="overlay"></div>
            <h2>ABS Advanced</h2>
            <p>11 MINS • 11 EXERCISES</p>
        </div>


        <!-- Add more workout items similar to the one above -->
    </section>



    <footer>
        <div class="footer-nav">
            <a href="#">Training</a>
            <a href="#">Discover</a>
            <a href="#">Report</a>
            <a href="#">Settings</a>
        </div>
    </footer>
</body>
</html>
