<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workout Page</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    <div class="header">
        <h1>chest BEGINNER</h1>
        <img id="headerGif" src="{% static 'images/Jumping jacks.gif' %}" alt="Workout GIF">
        <p>21 mins • 16 Workouts</p>
    </div>

    <ul class="workout-list">
        <li class="workout-item" onclick="changeHeaderGif('{% static 'images/Jumping jacks.gif' %}')">
            <img src="{% static 'images/Jumping jacks.gif' %}" alt="Jumping Jacks">
            <div>
                <h3>Jumping Jacks</h3>
                <p>00:20</p>
            </div>
        </li>
        <li class="workout-item" onclick="changeHeaderGif('{% static 'images/Incline-Push-UP.gif' %}')">
            <img src="{% static 'images/Incline-Push-UP.gif' %}" alt="Incline Push-up">
            <div>
                <h3>Incline Push-up</h3>
                <p>x16</p>
            </div>
        </li>
       
        <li class="workout-item" onclick="changeHeaderGif('{% static 'images/pushups.gif' %}')">
            <img src="{% static 'images/pushups.gif' %}" alt="Incline Push-up">
            <div>
                <h3>Push-up Push-up</h3>
                <p>x16</p>
            </div>
        </li>
        <li class="workout-item" onclick="changeHeaderGif('{% static 'images/wide Arm.Gif' %}')">

            <img src="{% static 'images/wide arm.gif' %}" alt="Incline Push-up">
            <div>
                <h3>WIDE ARM Push-up</h3>
                <p>x16</p>
            </div>
        </li>
        <!-- Add more workouts similarly -->
    </ul>

    <a href="#" class="start-button">Start</a>

    <script>
        function changeHeaderGif(gifUrl) {
            document.getElementById('headerGif').src = gifUrl;
        }
    </script>

</body>
</html>
